@font-face {
  font-family: "FuturaDemiC";
  font-style: normal;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  font-style: italic;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*
.visually-hidden,
  input[type="checkbox"],
  input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
.complete {
  display: flex;
  justify-content: flex-end;
  background-color: #131313;
  min-height: 552px;
}

.complete__slider:first-child {
  width: 30%;
  margin: 0 auto;
}

.complete__slider:last-child {
  width: 59%;
}

.contact-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-list__link--phone {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 1vw;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.contact-list__item:last-child {
  margin-left: 4vw;
}

.contact-list__link {
  padding: 11px 33px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 0.9vw;
  line-height: 1.2;
  font-weight: normal;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
}

.button-submit {
  border-radius: 2px;
  background-color: #E3B873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
}

.control__wrapper {
  margin: 0 auto;
  max-width: 57%;
  min-height: 955px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fantasies {
  min-height: 1018px;
}

.fantasies__wrapper {
  display: flex;
  justify-content: space-between;
}

.fantasies__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features {
  display: flex;
  min-height: 726px;
}

.features__circle {
  width: 54%;
}

.features__discount {
  margin: 0 auto;
  width: 35%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 83px;
}

.main-nav__logo {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
}

.page__wrapper {
  margin: 0 auto;
  max-width: 88%;
}

.page__header {
  background-color: #131313;
}

.project {
  margin: 0 auto;
  max-width: 88%;
  min-height: 922px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  background-color: #131313;
}

.promo__inst-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
}

.promo__inst-link {
  display: inline-block;
  transform: rotate(90deg);
}

.promo__wrapper {
  width: 94%;
  min-height: 707px;
  background-color: #ffffff;
}

.promo__down-link {
  width: 247px;
  height: 97px;
  text-align: center;
  background-color: #131313;
}

@media (min-width: 375px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 40%;
  }
  .site-list__link {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 1vw;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
  }
  .site-list__link--select {
    color: #E3B873;
  }
}

.types {
  min-height: 690px;
}
