/*
@mixin vw($size) {
  font-size: (100vw * $size / 1440px);
}

@mixin line($size, $line-height) {
  line-height: (100vw * $size * $line-height / 1440px);
}
*/
@font-face {
  font-family: "FuturaDemiC";
  font-style: normal;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  font-style: italic;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaMedium";
  src: url("../assets/fonts/FuturaMediumC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #131313;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden,
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.address {
  margin-top: -200px;
  padding-bottom: 65px;
  background-color: #131313;
  background-image: url("../assets/images/address-background.png");
}

.address__wrapper {
  padding-top: 250px;
}

.address__data {
  margin: 0;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  max-width: 600px;
  text-transform: uppercase;
}

.address__social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.address__social-link {
  display: block;
  width: 28px;
  height: 28px;
  background-color: #E3B873;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.mail-link {
  margin-right: 15px;
  background-image: url("../assets/images/address-img-1.svg");
}

.inst-link {
  background-image: url("../assets/images/address-img-2.svg");
}

#map {
  margin: 0 auto;
  height: 465px;
  width: 65%;
}

.address__map {
  margin-top: 50px;
  text-align: center;
}

.address__image {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .address__data {
    width: 90%;
  }
  #map {
    width: 90%;
    height: 300px;
  }
}

@media (max-width: 375px) {
  .address {
    margin: 0;
    padding-bottom: 20px;
    width: 375px;
    background-color: #252525;
    background-image: none;
  }
  .address__wrapper {
    width: 340px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  #map {
    margin-top: 20px;
    width: 100%;
    height: 255px;
    order: -1;
  }
  .address__data {
    margin-top: 50px;
    width: 90%;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
  }
}

.button-submit {
  display: inline-block;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: normal;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  white-space: nowrap;
}

.button-submit--transp {
  margin-left: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: none;
}

.button-submit:hover {
  background-color: #e2961d;
}

.button-submit--transp:hover {
  background-color: #ffffff;
  color: black;
}

.button-submit:active {
  opacity: 0.5;
  color: #dddcdc;
}

@media (max-width: 375px) {
  .button-submit {
    box-sizing: border-box;
  }
}

.client .client__block::before {
  margin-left: 10px;
}

.client .client__block::after {
  margin-left: -40px;
}

.client .client__info {
  width: 27%;
}

.client .client__list {
  margin: 0 auto;
  margin-top: 70px;
  width: 88%;
}

.client__item {
  margin-left: 20px;
  width: 30%;
}

.client .client__name {
  position: relative;
  top: -20px;
  left: 20px;
  padding: 0;
  width: 60%;
  display: inline-block;
}

.client__review {
  margin: 0;
  margin-bottom: 5px;
  width: 93%;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  color: #959595;
}

.client__indicator {
  display: flex;
  margin-top: 50px;
  margin-left: -20px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.client__area,
.client__days {
  display: flex;
  background-color: #E3B873;
  padding: 15px 20px 15px;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.client__area::before,
.client__days::before {
  content: "";
  display: block;
  margin: -3px;
  margin-right: 10px;
  width: 33px;
  height: 32px;
}

.client__area {
  margin-right: 1px;
}

.client__area::before {
  background-image: url("../assets/images/client-submit-1.svg");
}

.client__days::before {
  background-image: url("../assets/images/client-submit-2.svg");
}

@media (max-width: 768px) {
  .client .client__info {
    width: 70%;
  }
  .client__item {
    width: 90%;
  }
  .client__review {
    width: 100%;
  }
  .client__indicator {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .client {
    display: none;
  }
}

.complete {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 350px;
  margin-top: -50px;
  padding-top: 100px;
  background-color: #131313;
  background-image: url("../assets/images/complete-background.png");
}

.complete__slider:first-child {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}

.complete__desc {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

@media (max-width: 768px) {
  .complete__slider:first-child {
    margin-top: 10vw;
  }
  .complete__desc {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .complete {
    display: block;
    margin: 0;
    padding-top: 50px;
    background-image: none;
    background-color: #252525;
  }
  .complete__slider,
  .complete__slider:first-child {
    margin-top: 0;
    width: 340px;
  }
  .complete__desc {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 310px;
    font-size: 14px;
    line-height: 1.6;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.contact-list__link--phone {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.contact-list__item:first-child {
  margin-right: 10%;
}

.contact-list__item:hover .contact-list__link--phone {
  color: #ffffff;
}

.contact-list__item:active .contact-list__link--phone {
  opacity: 0.5;
  border-bottom: 1px solid #ffffff;
}

.contact-list__link {
  padding: 11px 33px;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .contact-list__link--phone {
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
    border: none;
  }
  .contact-list__link {
    display: none;
  }
}

.control__wrapper {
  margin: 0 auto;
  width: 61%;
}

.control__title {
  margin-top: -300px;
  color: #ffffff;
}

.control__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.control__desc {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 83%;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

.control__desc::before {
  content: "";
  right: 45%;
  top: -30px;
  position: absolute;
  width: 55px;
  height: 1.5px;
  background-color: #E3B873;
}

.control__form {
  margin-top: 90px;
  text-align: center;
}

.control__input-text {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #363636;
  border: none;
  border-bottom-color: rgba(54, 54, 54, 0.3);
}

.control__input-text::placeholder {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

.control__label-text {
  position: absolute;
  top: -20px;
  left: 0;
  color: #363636;
}

.control__input-submit {
  position: relative;
  margin-top: 10px;
  top: -5px;
  padding: 13px 70px;
}

.control__label-checkbox {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .control__wrapper {
    margin: 0 auto;
    width: 90%;
  }
  .control__title {
    margin-top: -320px;
  }
  .control__desc {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .control {
    background-color: #252525;
  }
  .control__wrapper {
    width: 340px;
  }
  .control__title {
    margin-top: 0;
    padding-top: 20px;
  }
  .control__video {
    box-shadow: none;
    height: auto;
  }
  .control__desc {
    margin-top: 55px;
    width: 100%;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
  }
  .control__desc::before {
    height: 2px;
  }
  .control__form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .control__input-text {
    width: 100%;
    border-bottom-color: #ffffff;
  }
  .control__input-text::placeholder {
    color: #ffffff;
  }
  .control__input-text[name="user-name"] {
    margin-bottom: 70px;
  }
  .control__label-text {
    color: rgba(255, 255, 255, 0.5);
  }
  .control__label-checkbox {
    margin-left: 10px;
    text-align: left;
    color: #ffffff;
  }
  .control__input-submit {
    order: 1;
    margin-top: 70px;
  }
}

.data-table {
  margin-top: 25px;
}

.data-table__wrap {
  width: 80%;
  margin: 0 auto;
}

.data-table__name {
  width: 200px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  text-align: start;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
}

.data-table__text {
  padding-bottom: 40px;
  vertical-align: top;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

@media (max-width: 768px) {
  .data-table__wrap {
    margin-top: 10vw;
    grid-row: 2/3;
    grid-column: 1/3;
    width: 90%;
  }
  .data-table {
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .data-table__wrap {
    width: 340px;
  }
  .data-table__name {
    font-size: 14px;
    line-height: 1.4;
  }
  .data-table__text {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.example__pict {
  position: relative;
  z-index: 0;
}

.example__desc-wrapper {
  margin: 0 auto;
  width: 85%;
}

.example__desc {
  position: relative;
  margin-top: -40%;
  padding-bottom: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.example__block-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 50px;
  margin-top: 10px;
  list-style-type: disc;
}

.example__block-item {
  padding-bottom: 5px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  color: #959595;
}

.example__block-link {
  position: relative;
  display: block;
  margin-top: -30px;
  padding: 15px 0;
  text-align: center;
  width: 70%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  z-index: 2;
}

.example__mobile {
  display: none;
}

@media (max-width: 768px) {
  .example__list {
    flex-direction: column;
  }
  .example__item {
    display: flex;
    margin-bottom: 50px;
  }
  .example__desc {
    margin-top: 0px;
    height: 100%;
  }
  .example__desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 40%;
  }
  .example__pict {
    max-width: 70%;
  }
  .example__block-list {
    margin-left: 20px;
  }
  .example__desc > .example__block-title {
    padding-left: 5%;
  }
  .example__button {
    width: 100%;
  }
  .example__block-link {
    font-size: 16px;
  }
  .example__mobile {
    display: inline;
  }
}

@media (max-width: 375px) {
  .example__list {
    flex-direction: column;
  }
  .example__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .example__item {
    display: block;
  }
  .example__desc {
    margin-top: -150px;
  }
  .example__desc > .example__block-title {
    padding-left: 30px;
  }
  .example__pict {
    max-width: 100%;
  }
  .example__desc-wrapper {
    display: block;
    margin-left: 0;
    width: 85%;
  }
  .example__block-item {
    font-size: 13px;
    line-height: 1.6;
  }
  .example__block-link {
    font-size: 15px;
    line-height: 1.4;
  }
  .example__button {
    width: 70%;
  }
}

.fantasies {
  margin-top: 16vw;
  background-image: url("../assets/images/fantasies-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fantasies__wrapper {
  display: flex;
  justify-content: space-between;
}

.fantasies__desc {
  width: 40%;
}

.fantasies__article {
  margin-top: 100px;
  padding-left: 8%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 27px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
}

.fantasies__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  padding-left: 8%;
}

.fantasies__item {
  margin-bottom: 30px;
}

.fantasies__link {
  font-family: "ProximaNova",  Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.fantasies__link--select {
  padding-bottom: 5px;
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.fantasies__figure {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: auto 0;
}

.fantasies__first-fig {
  margin-top: -50px;
  margin-right: 5%;
}

.fantasies__first-fig .fantasies__pict--small {
  position: relative;
  top: 30px;
}

.fantasies__first-pict {
  display: none;
}

.fantasies__pict--large {
  width: 354px;
}

.fantasies__pict--small {
  width: 354px;
}

.fantasies__pict:first-child {
  margin-bottom: 20px;
}

.fantasies__second-fig {
  margin-top: -120px;
}

.fantasies__second-fig .fantasies__pict--large {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .fantasies {
    margin-top: 0;
    background-image: none;
  }
  .fantasies__wrapper {
    display: block;
  }
  .fantasies__desc {
    width: 100%;
  }
  .fantasies__article {
    margin: 0 auto;
    margin-top: 55px;
    padding: 0;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
  }
  .fantasies__first-pict {
    position: relative;
  }
  .fantasies__slider {
    display: block;
  }
  .fantasies__figure {
    width: 100%;
  }
  .fantasies__first-pict {
    display: block;
  }
  .fantasies__first-fig {
    margin-top: 30px;
  }
  .fantasies__pict {
    display: none;
  }
  .fantasies__list {
    display: none;
  }
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 120px;
  min-height: 726px;
  overflow: hidden;
}

.features__circle-wrapper {
  position: relative;
  margin-right: 12%;
  width: 600px;
}

.features__circle {
  margin-left: -105px;
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, #E3B873 100%) border-box;
  border: 3px solid transparent;
}

.features__background {
  left: 105px;
  margin-top: -50px;
  height: 700px;
  position: relative;
  background-image: url("../assets/images/features-background.png");
  background-repeat: no-repeat;
}

.features__list {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 50px;
  left: 400px;
}

.features__item {
  position: absolute;
  font-family: "FuturaMedium", Arial, sans-serif;
  width: 400px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

.features__item::before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 10px;
  width: 21px;
  height: 21px;
  left: -60px;
  top: 0px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #E3B873;
  border-radius: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: white;
}

.first-item {
  top: -25px;
  left: 0;
}

.first-item::before {
  content: "01";
}

.second-item {
  margin-left: 115px;
  top: 145px;
}

.second-item::before {
  content: "02";
  top: -8px;
}

.third-item {
  margin-left: 120px;
  top: 315px;
}

.third-item::before {
  content: "03";
  top: -8px;
}

.four-item {
  margin-left: 35px;
  top: 445px;
}

.four-item::before {
  content: "04";
  top: 0;
}

.features__discount {
  margin: 0 auto;
  margin-top: 50px;
  width: calc(100%*0.4);
  min-width: 450px;
}

.features__wrapper {
  background-color: #131313;
  background-image: url("../assets/images/features-discount-bkg.png");
}

.features__input-text {
  margin-bottom: 50px;
  width: 100%;
  font-family: "FuturaMedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  border: none;
  border-bottom-color: rgba(250, 250, 250, 0.15);
}

.features__input-text::placeholder {
  font-family: "FuturaMedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.features__label-text {
  color: #ffffff;
}

.features__label-checkbox {
  margin-top: -35px;
  margin-bottom: 40px;
  margin-left: 10px;
  color: #ffffff;
}

.features__input-submit {
  float: right;
  margin-bottom: 20px;
  padding: 13px 11%;
  border-radius: 0;
}

.features__sale {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 50%;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
}

.features__sale::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -10px;
  left: -100px;
  width: 72px;
  height: 72px;
  background-color: #E3B873;
  background-image: url("../assets/images/features-pig.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .features {
    margin-top: 20px;
  }
  .features__circle-wrapper {
    display: none;
  }
  .features__discount {
    width: 70%;
    min-width: 360px;
  }
  .features__sale {
    width: 60%;
    margin-left: 35%;
  }
}

@media (max-width: 375px) {
  .features {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__logo {
  padding: 32px 0;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
  margin-right: 10px;
  flex-grow: 1;
}

.main-nav__tablet {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 40%;
  flex-grow: 3;
}

.main-nav__tablet-link {
  display: none;
}

@media (max-width: 768px) {
  .main-nav__tablet-item > .site-list {
    display: none;
    list-style: none;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav__tablet {
    position: relative;
    align-self: center;
    flex-grow: 1;
  }
  .main-nav__tablet-link {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    color: #E3B873;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .main-nav__tablet-link::after {
    content: "";
    margin-left: 10px;
    margin-top: -20px;
    top: 18px;
    left: 18px;
    border: solid #E3B873;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
  }
  .main-nav__tablet-item:hover .site-list {
    position: absolute;
    display: block;
    background-color: rgba(19, 19, 19, 0.3);
  }
}

@media (max-width: 375px) {
  .main-nav__logo {
    padding: 22px 0;
    font-size: 12px;
    line-height: 1.2;
  }
  .main-nav__tablet {
    display: none;
  }
}

.page__wrapper {
  margin: 0 auto;
  width: 88%;
}

.page__header {
  background-color: #131313;
}

.page__footer {
  background-color: #131313;
}

@media (max-width: 768px) {
  .page__wrapper {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .page__wrapper {
    margin: 0 auto;
    width: 340px;
  }
  .page__header {
    width: 375px;
    background-color: #252525;
  }
  .page__main {
    width: 375px;
  }
  .page__footer {
    display: none;
  }
}

.pict-slider {
  grid-row: 1/3;
  grid-column: 2/3;
}

.pict-slider__viewport {
  position: relative;
}

.pict-slider__text-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  width: 90%;
}

.pict-slider__text-item {
  margin-right: 3%;
}

.pict-slider__text-link {
  padding-bottom: 5px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  opacity: 0.3;
  text-transform: uppercase;
}

.pict-slider__text-link--select {
  color: #E3B873;
  opacity: 1;
  border-bottom: 1px solid #E3B873;
}

.pict-slider__img-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 45px;
  position: relative;
}

.pict-slider__img-item:last-child {
  display: inline-block;
  overflow-x: hidden;
  width: 15%;
  height: 100%;
  margin-left: 7%;
}

.pict-slider__img-item:last-child > .pict-slider__img {
  max-width: 50vw;
  position: relative;
  margin-left: -135px;
}

.pict-slider__button {
  position: absolute;
  top: 45%;
  left: 90%;
  width: 50px;
  height: 50px;
  background-color: #E3B873;
  border: none;
  border-radius: 50%;
}

.pict-slider__button::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.pict-slider__button--left {
  display: none;
}

.pict-slider__button--right::before {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .pict-slider__text-item:not(:first-child) {
    display: none;
  }
  .pict-slider__img-item:first-child {
    width: 100%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  .pict-slider__img-item:last-child {
    display: none;
  }
  .pict-slider__button {
    width: 40px;
    height: 40px;
  }
  .pict-slider__button--left {
    display: block;
    left: 4%;
    z-index: 5;
  }
  .pict-slider__button--right {
    left: 84%;
  }
  .pict-slider__button--left::before {
    transform: rotate(135deg);
  }
  .pict-slider__button::before {
    top: 35%;
    left: 35%;
  }
}

@media (max-width: 375px) {
  .pict-slider {
    width: 340px;
    margin: 0 auto;
  }
  .pict-slider__text-list {
    display: none;
  }
  .pict-slider__img-item:first-child {
    display: none;
  }
  .pict-slider__img-item:last-child {
    display: block;
    margin-left: 0;
    width: 100%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  .pict-slider__img-item:last-child > .pict-slider__img {
    margin: 0;
    max-width: 100%;
    position: static;
  }
  .pict-slider__button {
    width: 36px;
    height: 36px;
  }
  .pict-slider__button--right {
    top: 40%;
    left: 84%;
  }
  .pict-slider__button--left {
    display: block;
    top: 40%;
    left: 4%;
    z-index: 5;
  }
  .pict-slider__button--left::before {
    transform: rotate(135deg);
  }
  .pict-slider__button::before {
    top: 35%;
    left: 35%;
  }
}

.project {
  margin-top: 130px;
}

.project__list {
  margin-top: 50px;
}

.project__button {
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
}

@media (max-width: 768px) {
  .project {
    margin-top: 50px;
    background-color: #131313;
    background-image: url("../assets/images/work-background.png");
  }
  .project > * > h3 {
    padding-top: 30px;
    color: #ffffff;
  }
  .project > * > .project__info {
    color: #ffffff;
  }
  .project__hidden {
    display: none;
  }
}

@media (max-width: 375px) {
  .project {
    margin-top: -120px;
    padding-top: 150px;
    width: 375px;
    background-color: #252525;
    background-image: none;
  }
  .project > * > h3 {
    color: #ffffff;
  }
  .project__button {
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
  .project__hidden {
    display: none;
  }
}

.promo {
  display: flex;
  flex-wrap: wrap;
  background-color: #131313;
}

.promo__inst-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
}

.promo__inst-link {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  top: -80px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
}

.promo__inst-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: -65px;
  height: 2px;
  width: 50px;
  background-color: #E3B873;
}

.promo__wrapper {
  display: flex;
  width: 94%;
  padding-bottom: 208px;
  background-color: #ffffff;
  background-image: url(../assets/images/promo-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__inner-wrapper {
  margin-left: 60px;
  margin-top: 185px;
  width: 45%;
}

.promo__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 40px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__title--color {
  color: #E3B873;
}

.promo__desc {
  width: 80%;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.promo__link {
  padding: 17px 33px;
}

.promo__link:last-child {
  margin-left: 0;
  margin-top: 10px;
}

.promo__down {
  margin-top: -50px;
  width: 247px;
  height: 97px;
  text-align: center;
  background-color: #131313;
}

.promo__down-link {
  position: relative;
  display: inline-block;
  margin-left: -40px;
  padding-top: 40px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__down-link::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -50px;
  width: 30px;
  height: 30px;
  border: 1.5px solid #E3B873;
  border-radius: 50%;
}

.promo__down-link::after {
  content: "";
  position: absolute;
  right: -38px;
  border: solid #E3B873;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .promo__wrapper {
    width: 100%;
  }
  .promo__inst-wrapper {
    display: none;
  }
  .promo__inner-wrapper {
    width: 60%;
  }
  .promo__title {
    font-size: 30px;
  }
  .promo__desc {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .promo__wrapper {
    padding-top: 85px;
    padding-bottom: 60px;
    width: 100%;
    background-position-x: center;
  }
  .promo__inst-wrapper {
    display: none;
  }
  .promo__inner-wrapper {
    margin: 0 auto;
    width: 340px;
  }
  .promo__title {
    font-size: 23px;
    line-height: 1.3;
  }
  .promo__desc {
    width: 85%;
    font-size: 18px;
    line-height: 1.3;
  }
  .promo__link {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .promo__down {
    display: none;
  }
}

.question {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  width: 50%;
  min-width: 450px;
  background-color: #131313;
  background-image: url("../assets/images/question-background.png");
  z-index: 5;
}

.question .question__legend {
  padding-top: 40px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.question__input-text {
  margin-bottom: 50px;
  width: 100%;
  font-family: "FuturaMedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  border: none;
  border-bottom-color: rgba(250, 250, 250, 0.15);
}

.question__input-text::placeholder {
  font-family: "FuturaMedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.question__input-wrapper {
  display: inline-block;
  width: 45%;
}

.question__input-wrapper + .question__input-wrapper {
  float: right;
}

.question__label-text {
  color: #ffffff;
}

.question__label-checkbox {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 40px;
  color: #ffffff;
}

.question__input-submit {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 13px 14%;
  z-index: 5;
}

@media (max-width: 768px) {
  .question {
    margin-top: 0;
    width: 70%;
    min-width: 375px;
  }
  .question__form > .question__field {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .question {
    margin: 0;
    width: 375px;
    min-width: 375px;
    background-image: none;
    background-color: #252525;
  }
  .question__form > .question__field {
    width: 340px;
  }
  .question__input-wrapper {
    display: block;
    width: 100%;
    float: none;
  }
  .question__field > .question__input-text {
    margin-bottom: 30px;
  }
  .question__label-checkbox {
    margin-bottom: 60px;
  }
  .question__input-submit {
    width: 100%;
  }
}

.registr__element {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

.registr__input-text {
  display: block;
  padding-bottom: 7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
}

.registr__label-text {
  display: block;
  margin-bottom: 5px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  opacity: 0.5;
}

.registr__input-submit {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  font-weight: normal;
  font-style: normal;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
}

.registr__input-checkbox + .registr__label-checkbox {
  display: block;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
}

.registr__input-checkbox + .registr__label-checkbox::before {
  content: "";
  position: relative;
  top: 3px;
  left: -10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #E3B873;
}

.registr__input-checkbox:checked + .registr__label-checkbox::before {
  width: 18px;
  height: 18px;
  background-image: url("../assets/images/checked.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.registr__field {
  margin: 0 auto;
  width: 80%;
  border: none;
}

.registr__legend {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 290px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

@media (max-width: 768px) {
  .registr__element {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .registr__element {
    margin: 0;
    width: 100%;
  }
}

.site-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 3;
  list-style: none;
}

.site-list__item {
  margin-right: 5%;
}

.site-list:hover .site-list__link--select {
  color: #ffffff;
}

.site-list__item:hover .site-list__link {
  color: #E3B873;
}

.site-list__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.site-list__link--select {
  color: #E3B873;
}

@media (max-width: 768px) {
  .site-list {
    display: none;
  }
  .site-list__item {
    padding: 5px 0;
    margin-right: 20px;
  }
}

@media (max-width: 375px) {
  .site-list {
    display: none;
  }
}

.slider-switcher {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}

.slider-switcher__arrow {
  position: relative;
  margin-top: -15px;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-switcher__arrow::after {
  content: "";
  top: 15px;
  left: 0px;
  position: absolute;
  width: 40px;
  height: 1.3px;
  background-color: #ffffff;
}

.slider-switcher__arrow--left::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.slider-switcher__arrow--right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.slider-switcher__form {
  margin: -10px 20px 0;
}

.slider-switcher__label-radio {
  margin: 0 7px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.slider-switcher__input-radio:checked + .slider-switcher__label-radio {
  opacity: 1;
}

@media (max-width: 375px) {
  .slider-switcher {
    display: none;
  }
}

.team {
  margin-top: -500px;
}

.team .team__title {
  margin-top: 80px;
  color: #ffffff;
}

.team .team__title::before {
  margin-left: 0;
}

.team .team__title::after {
  margin-left: -30px;
}

.team > * > .team__info {
  width: 33%;
  color: #ffffff;
}

.team__person-list {
  margin: 0 auto;
  margin-top: 80px;
  width: 75%;
}

.team__person-item {
  position: relative;
}

.team__person-item::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: #E3B873;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  z-index: 2;
}

.team__idea::before {
  background-image: url("../assets/images/team-symbol-1.svg");
}

.team__design::before {
  background-image: url("../assets/images/team-symbol-2.svg");
}

.team__foreman::before {
  background-image: url("../assets/images/team-symbol-3.svg");
}

.team__person-photo {
  position: relative;
}

.team__person-data {
  position: relative;
  margin: 0 auto;
  margin-top: -90px;
  width: 80%;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.team .team__person-name {
  margin: 0;
  padding-left: 0;
  text-align: center;
  color: #181818;
}

.team__person-position {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #959595;
}

.team__person-exp {
  margin: 0;
  margin-top: 25px;
  padding: 12px 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #E3B873;
}

.team__results {
  margin: 80px auto 100px;
  text-align: center;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

.team__result-text {
  margin: 0 auto;
}

.team__result-text:first-child {
  position: relative;
  width: 38%;
}

.team__result-text:first-child::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  display: block;
  width: 55px;
  height: 2px;
  background-color: #E3B873;
}

.team__result-text:last-child {
  width: 42%;
}

@media (max-width: 768px) {
  .team {
    margin-top: -270px;
  }
  .team > * > .team__info {
    width: 70%;
    color: #ffffff;
  }
  .team__person-list {
    width: 90%;
  }
  .team__person-data {
    margin-top: auto;
  }
  .team__person-item {
    display: flex;
  }
  .team__person-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .team__person-item:last-child {
    margin-bottom: 0;
  }
  .team__result-text:first-child {
    width: 70%;
  }
  .team__result-text:last-child {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .team {
    width: 375px;
    margin-top: 0;
    padding-top: 70px;
    background-color: #252525;
  }
  .team .team__title {
    margin: 0;
  }
  .team > * > .team__info {
    width: 100%;
  }
  .team__person-list {
    width: 75%;
  }
  .team__person-item {
    display: block;
  }
  .team__person-item:not(:last-child) {
    margin-bottom: 100px;
  }
  .team__person-item:last-child {
    margin-bottom: 40px;
  }
  .team__person-data {
    margin-top: -90px;
  }
  .team__results {
    display: none;
  }
  .team__person-exp {
    width: 100%;
  }
}

.title__article {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 27px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
}

.title__article::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -30px;
  bottom: 18px;
  height: 1.5px;
  width: 92px;
  background-color: #E3B873;
}

.title__block {
  position: relative;
  text-align: center;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.title__symbol {
  display: block;
  margin: 0 auto;
}

.title__block::before,
.title__block::after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 30px;
  height: 1px;
  background: #E3B873;
}

.title__block::before {
  margin-left: 25px;
}

.title__block::after {
  margin-left: -50px;
}

.title__equal {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px 0 0 30px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

.title__info {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  width: 60%;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #363636;
}

@media (max-width: 768px) {
  .title__article {
    font-size: 24px;
    line-height: 1.4;
  }
  .title__article::after {
    display: none;
  }
}

@media (max-width: 375px) {
  .title__article {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
  }
  .title__article::after {
    display: none;
  }
  .title__block {
    font-size: 22px;
    line-height: 1.4;
  }
  .title__block::before {
    margin-left: 40px;
    height: 1.4px;
  }
  .title__block::after {
    margin-left: -70px;
    height: 1.4px;
  }
  .title__equal {
    font-size: 15px;
    line-height: 1.2;
  }
  .title__info {
    width: 85%;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.4;
  }
}

.types {
  margin-top: 150px;
  min-height: 690px;
}

@media (max-width: 768px) {
  .types {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .types {
    background-color: #ffffff;
    margin-top: -30px;
    padding-top: 60px;
  }
}

.work {
  margin-top: -480px;
  padding-bottom: 520px;
  background-color: #131313;
  background-image: url("../assets/images/work-background.png");
  z-index: -1;
}

.work__wrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 450px;
  max-width: 85%;
}

.work__basis {
  width: 40%;
}

.work_rule {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.work__slide {
  margin-top: 70px;
}

.work__slide-number {
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.work__title {
  width: 55%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #E3B873;
  text-transform: uppercase;
}

.work__desc {
  width: 80%;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.work__desc + .work__desc {
  margin-bottom: 100px;
}

.work__element {
  margin-top: 100px;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 15%;
  list-style: none;
}

.work__list-link {
  color: #ffffff;
}

.work__list-item {
  padding-bottom: 20px;
  opacity: 30%;
}

.work__list-item--checked {
  opacity: 1;
}

.work__list-number {
  padding-bottom: 3px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #E3B873;
}

.work__list-desc {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
}

.work__pict {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .work {
    padding-bottom: 300px;
  }
  .work__wrapper {
    flex-direction: column;
  }
  .work__basis {
    width: 90%;
  }
  .work__list {
    display: none;
  }
}

@media (max-width: 375px) {
  .work {
    display: none;
  }
}
