@mixin font($size: 14px, $line-height: 1.2, $weight: normal, $style: normal) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-style: $style;
}

@mixin mobile-font($size: 12px, $line-height: 1.2) {
  font-size: $size;
  line-height: $line-height;
}

@mixin reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper($width) {
  margin: 0 auto;
  width: $width;
}