$background: #131313;
$background-mobile: #252525;
$main-color:  #E3B873;
$text-color: #ffffff;
$black-color: #363636;

$mobile-width: 375px;
$mobile-wrapper: 340px;

$desktop-width: 1440px;
$desktop-wrapper: 88%;