.address {
  margin-top:-200px;
  padding-bottom: 65px;
  background-color: $background;
  background-image: url("../assets/images/address-background.png");
}

.address__wrapper {
   padding-top: 250px;
}

.address__data {
  margin: 0;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(20px,1.4);
  color: $main-color;
  max-width: 600px;
  text-transform: uppercase;
}

.address__data-link {
  color: $main-color;
}

.address__data-link:hover {
  color: $text-color;
}

.address__social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.address__social-item:hover .address__social-link{
  background-color: $hover-color;
}

.address__social-link {
  display: block;
  width: 28px;
  height: 28px;
  background-color: $main-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.mail-link {
  margin-right: 15px;
  background-image: url("../assets/images/address-img-1.svg");
}

.inst-link {
  background-image: url("../assets/images/address-img-2.svg");
}

#map {
  margin: 0 auto;
  height: 465px;
  width: 65%;
}

.address__map {
  margin-top: 50px;
  text-align: center;
}

.address__image {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: $tablet-width) {
  .address__data {
    width: 90%;
  }

  #map {
    width: 90%;
    height: 300px;
  }
}

@media (max-width: $mobile-width) {
  .address {
    margin: 0;
    padding-bottom: 20px;
    width: $mobile-width;
    background-color: $background-mobile;
    background-image: none;
  }

  .address__wrapper {
    width: $mobile-wrapper;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

#map {
    margin-top: 20px;
    width: 100%;
    height: 255px;
    order: -1;
  }


  .address__data {
    margin-top: 50px;
    width: 90%;
    @include mobile-font(18px, 1.4);
    text-transform: uppercase;
  }
}
