.button-submit {
  display: inline-block;
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(13px, $style: italic);
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, .30);
  white-space: nowrap;

  &--transp {
    margin-left: 20px;
    border: 1px solid #ffffff;
    background-color: transparent;
    box-shadow: none;
  }
}

.button-submit:hover {
  background-color: rgb(226, 150, 29);
}

.button-submit--transp:hover {
  background-color: $text-color;
  color: rgb(0, 0, 0);
}

.button-submit:active {
  opacity: 0.5;
  color: #dddcdc;
}


@media (max-width: $mobile-width) {
  .button-submit {
    box-sizing: border-box;
  }
}