.complete {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 350px;
  margin-top: -50px;
  padding-top: 100px;
  background-color: $background;
  background-image: url("../assets/images/complete-background.png");
}

.complete__slider:first-child {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}

.complete__desc {
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(18px,1.6);
  color: $text-color;
}

@media (max-width: $mobile-width) {
  .complete {
    display: block;
    margin: 0;
    padding-top: 50px;
    background-image: none;
    background-color: $background-mobile;
  }

  .complete__slider,
  .complete__slider:first-child {
    margin-top: 0;
    width: $mobile-wrapper;
  }

  .complete__desc {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 310px;
    @include mobile-font(14px, 1.6);
  }

}

