.complete {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 350px;
  margin-top: -50px;
  padding-top: 100px;
  background-color: $background;
  background-image: url("../assets/images/complete-background.png");
}

.complete__slider:first-child {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}

.complete__desc {
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(18px,1.6);
  color: $text-color;
}

@media (max-width: $mobile-width) {
  .complete {
    display: block;
  }
}

