.control__wrapper {
  @include wrapper(61%);
  min-height: 955px;
}

.control__title {
  margin-top: -325px;
  color: $text-color;
}

.control__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.control__desc {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 83%;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(20px, 1.7);
  color: $black-color;
}

.control__desc::before {
  content: "";
  right: 45%;
  top: -30px;
  position: absolute;
  width: 55px;
  height: 1.5px;
  background-color: $main-color;
}

.control__form {
  margin-top: 90px;
  text-align: center;
}

.control__input-text {
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(18px, 1.4);
  color: $black-color;
  border: none;
  border-bottom-color: rgba(54,54,54, 0.3);

  &::placeholder {
    font-family: "FuturaBookC", Arial, sans-serif;
    @include font(18px,1.4);
    color: $black-color;
  }
}

.control__label-text {
  position: absolute;
  top: -20px;
  left: 0;
  color: $black-color;
}

.control__input-submit {
  position: relative;
  top: -5px;
  padding: 13px 70px;
}

.control__label-checkbox {
  margin-top: 30px;
}

