.contact-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include reset();
  flex-grow: 1; ;
}

.contact-list__link--phone {
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(14px);
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.contact-list__item {
  &:first-child {
    margin-right: 10%;
  }
}

.contact-list__link {
  padding: 11px 33px;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
}

@media (max-width: $mobile-width) {
  .contact-list__link--phone {
    @include mobile-font();
    color: $text-color;
    border: none;
  }

  .contact-list__link {
    display: none;
  }
}



