.contact-list {
  display: flex;
  @include reset();
}

.contact-list__link--phone {
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(1vw);
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.contact-list__item {
  &:first-child{
    margin-top: 10px;
  }

  &:last-child {
    margin-left: 4vw;
  }
}

.contact-list__link {
  padding: 11px 33px;
  text-transform: uppercase;
}


