.data-table {
  margin-top: 25px;
}

.data-table__wrap {
  width: 80%;
  margin: 0 auto;
}

.data-table__name {
  width: 200px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  text-align: start;
  @include font(18px,1.4);
  color: $main-color;
  text-transform: uppercase;
}

.data-table__text {
  padding-bottom: 40px;
  vertical-align: top;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(15px,1.4);
  color: $text-color;
}

@media (max-width: $tablet-width) {
  .data-table__wrap {
    margin-top: 10vw;
    grid-row: 2/3;
    grid-column: 1/3;
    width: 90%;
  }

  .data-table {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .data-table__wrap {
    width: $mobile-wrapper;
  }

  .data-table__name {
    @include mobile-font(14px, 1.4);
  }

  .data-table__text {
    padding-top: 10px;
    padding-bottom: 30px;
    @include mobile-font(14px, 1.4);
  }
}