.fantasies {
  margin-top: 250px;
  background-image: url("../assets/images/fantasies-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fantasies__wrapper {
  display: flex;
  justify-content: space-between;
}

.fantasies__desc {
  width: 40%;
}

.fantasies__article {
  margin-top: 100px;
  padding-left: 8%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(27px, 1.4);
  color: $main-color;
  text-transform: uppercase;
}

.fantasies__list {
  @include reset();
  margin-top: 50px;
  padding-left: 8%;
}

.fantasies__item {
  margin-bottom: 30px;
}

.fantasies__link {
  font-family: "ProximaNova",  Arial, sans-serif;
  @include font(20px);
  color: $text-color;

  &--select {
    padding-bottom: 5px;
    color: $main-color;
    border-bottom: 1px solid $main-color;
  }
}

.fantasies__figure {
  @include reset;
  display: flex;
  justify-content: flex-end;
  width: 60%;

}

.fantasies__first-fig {
  margin-top: -50px;

  .fantasies__pict--small {
    position: relative;
    top: 30px;
  }
}

.fantasies__first-pict {
  display: none;
}

.fantasies__pict  {
  &--large {
    width: 354px;
  }

  &--small {
    width: 354px;
  }

  &:first-child {
    margin-bottom: 20px;
  }
}

.fantasies__second-fig {
  margin-top: -120px;

  .fantasies__pict--large {
  margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .fantasies {
    margin-top: 0;
    background-image: none;
  }

  .fantasies__wrapper {
    display: block;
  }

  .fantasies__desc {
    width: 100%;
  }

  .fantasies__article {
    margin: 0 auto;
    margin-top: 55px;
    padding: 0;
    text-align: center;
    @include mobile-font(22px, 1.4);
  }

  .fantasies__first-pict {
    position: relative;
  }

  .fantasies__slider {
    display: block;
  }

  .fantasies__figure {
    width: 100%;
  }

  .fantasies__first-pict {
    display: block;
  }

  .fantasies__first-fig {
    margin-top: 30px;
  }

  .fantasies__pict {
    display: none;
  }

  .fantasies__list {
    display: none;
  }
}
