.features {
  display: flex;
  margin-top: 120px;
  min-height: 726px;
}

.features__circle {
  width: 60%;
  background-image: url("../assets/images/features-background.png");
  background-repeat: no-repeat;
}

.features__list {
  @include reset;
  margin-top: 120px;
  margin-left: 50%;
}

.features__item {
  position: relative;
  font-family: "FuturaMedium", Arial, sans-serif;
  @include font(18px);
  color: $black-color;


  &::before {
    content:"";
    position: absolute;
    display: inline-block;
    padding: 10px;
    width: 21px;
    height: 21px;
    left: -60px;
    top: 0px;
    font-family: "YesevaOne", "Comic Sans", cursive;
    @include font(18px,1.4);
    color: $text-color;
    background-color: $main-color;
    border-radius: 50%;
  }
}

.first-item{
  margin-bottom: 75px;

  &::before{
    content: "01";
  }
}

.second-item {
  margin-left: 80px;
  margin-bottom: 140px;

  &::before{
    content: "02";
    top: -8px;
  }
}

.third-item{
  margin-left: 105px;
  margin-bottom: 130px;

  &::before{
    content: "03";
    top: -8px;
  }
}

.four-item {
  margin-left: 35px;

  &::before{
    content: "04";
    top: 0;
  }
}

.features__discount {
  margin: 0 auto;
  margin-top: 100px;
  width: 35%;
}

.features__wrapper {
  background-color: $background;
  background-image: url("../assets/images/features-discount-bkg.png");
}

.features__input-text {
  margin-bottom: 50px;
  width: 100%;
  font-family: "FuturaMedium", Arial, sans-serif;
  @include font(18px, 1.4);
  color: $text-color;
  border: none;
  border-bottom-color: rgba(250,250,250, 0.15);

  &::placeholder {
    font-family: "FuturaMedium", Arial, sans-serif;
    @include font(18px, 1.4);
    color: $text-color;
  }
}

.features__label-text{
  color: $text-color;
}

.features__label-checkbox {
  margin-top: -35px;
  margin-bottom: 40px;
  margin-left: 10px;
  color: $text-color;
}

.features__input-submit {
  float: right;
  margin-bottom: 20px;
  padding: 13px 11%;
  border-radius: 0;
}

.features__sale {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(20px);
  color: $main-color;
}

.features__sale::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -10px;
  left: -100px;
  width: 72px;
  height: 72px;
  background-color: $main-color;
  background-image: url("../assets/images/features-pig.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
