.page__wrapper {
  @include wrapper($desktop-wrapper);
}

.page__header {
  background-color: $background;
}

.page__footer {
  background-color: $background;
}

@media (max-width: $mobile-width) {
  .page__wrapper {
    @include wrapper($mobile-wrapper);
  }

  .page__header {
    width: $mobile-width;
    background-color: $background-mobile;
  }

  .page__main {
    width: $mobile-width;
  }
}

