.pict-slider {
  grid-row: 1/3;
  grid-column: 2/3;

}

.pict-slider__viewport {
  position: relative;
}

.pict-slider__text-list {
  display: flex;
  @include reset;
  justify-content: space-around;
  width: 90%;
}

.pict-slider__text-item {
  margin-right: 3%;
}

.pict-slider__text-item:hover .pict-slider__text-link {
  opacity: 0.7;
  border-bottom: 1px solid $text-color;
}

.pict-slider__text-item:hover .pict-slider__text-link--select {
  color: $text-color;
  opacity: 1;
  border-bottom-color: $main-color;
}

.pict-slider__text-link {
  padding-bottom: 5px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(14px,1.7);
  color: $text-color;
  opacity: 0.3;
  text-transform: uppercase;

  &--select {
    color: $main-color;
    opacity: 1;
    border-bottom: 1px solid $main-color;
  }
}

.pict-slider__img-list {
  display: flex;
  justify-content: flex-end;
  @include reset;
  margin-top: 45px;
  position: relative;
}

.pict-slider__img-item:last-child {
  display: inline-block;
  overflow-x: hidden;
  width: 15%;
  height: 100%;
  margin-left: 7%;



  & > .pict-slider__img {
    max-width: 48vw;
    position:relative;
    margin-left: -135px;

  }
}

.pict-slider__button {
  position: absolute;
  top: 45%;
  left: 90%;
  width: 50px;
  height: 50px;
  background-color: $main-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.pict-slider__button:hover {
  background-color: $hover-color;
}

.pict-slider__button:active {
  opacity: 0.5;

  &::before {
    border-color: grey;
  }
}

.pict-slider__button::before {
  content:"";
  position: absolute;
  top: 18px;
  left: 18px;
  border: solid $text-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.pict-slider__button--left {
  display: none;
}

.pict-slider__button--right::before {
  transform: rotate(-45deg);
}

@media (max-width: $tablet-width) {
  .pict-slider__text-item:not(:first-child) {
    display: none;
  }

  .pict-slider__img-item {
    &:first-child {
      width: 100%;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      display: none;
    }
  }

  .pict-slider__button {
    width: 40px;
    height: 40px;

    &--left {
      display: block;
      left: 4%;
      z-index: 5;
    }

    &--right {
      left: 84%;
    }
  }

  .pict-slider__button--left::before {
    transform: rotate(135deg);
  }

  .pict-slider__button::before {
    top: 35%;
    left: 35%;
  }
}

@media (max-width: $mobile-width) {
  .pict-slider {
    width: $mobile-wrapper;
    margin: 0 auto;
  }

  .pict-slider__text-list {
    display: none;
  }

  .pict-slider__img-item {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
      margin-left: 0;
      width: 100%;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

      > .pict-slider__img {
        margin: 0;
        max-width: 100%;
        position: static;
      }
    }
  }

  .pict-slider__button {
    width: 36px;
    height: 36px;

    &--right {
      top: 40%;
      left: 84%;
    }

    &--left {
      display: block;
      top: 40%;
      left: 4%;
      z-index: 5;
    }
  }

  .pict-slider__button--left::before {
    transform: rotate(135deg);
  }

  .pict-slider__button::before {
    top: 35%;
    left: 35%;
  }

}