.promo {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
}

.promo__inst-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
}

.promo__inst-link {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  top: -80px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(14px);
  color: $main-color;
}

.promo__inst-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: -65px;
  height: 2px;
  width: 50px;
  background-color: $main-color;
}

.promo__wrapper {
  display: flex;
  width: 94%;
  padding-bottom: 208px;
  background-color: $text-color;
  background-image: url(../assets/images/promo-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__inner-wrapper {
  margin-left: 60px;
  margin-top: 185px;
  width: 45%;
}

.promo__title {
  @include reset;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(40px,1.4);
  color: $text-color;
  text-transform: uppercase;

  &--color {
    color: $main-color;
  }
}

.promo__desc {
  width: 80%;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(22px,1.4);
  color: $text-color;
}

.promo__link {
  padding: 17px 33px;
}

.promo__link:last-child {
  margin-left: 0;
  margin-top: 10px;
}

.promo__down {
  margin-top: -50px;
  width: 247px;
  height: 97px;
  text-align: center;
  background-color: $background;
}

.promo__down-link {
  position: relative;
  display: inline-block;
  margin-left: -40px;
  padding-top: 40px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(14px,1.4);
  color: $text-color;
  text-transform: uppercase;
}

.promo__down-link::before {
  content:"";
  position: absolute;
  top: 30px;
  right: -50px;
  width: 30px;
  height: 30px;
  border: 1.5px solid $main-color;
  border-radius: 50%;
}

.promo__down-link::after {
  content:"";
  position: absolute;
  right: -38px;
  border: solid $main-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

@media (max-width: $tablet-width) {
  .promo__wrapper {
    width: 100%;
  }

  .promo__inst-wrapper {
    display: none;
  }

  .promo__inner-wrapper {
    width: 60%;
  }

  .promo__title {
    font-size: 30px;
  }

  .promo__desc {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .promo__wrapper {
    padding-top: 85px;
    padding-bottom: 60px;
    width: 100%;
    background-position-x: center;
  }

  .promo__inst-wrapper {
    display: none;
  }

  .promo__inner-wrapper {
    @include wrapper($mobile-wrapper);
  }

  .promo__title {
    @include mobile-font(23px, 1.3);
  }

  .promo__desc {
    width: 85%;
    @include mobile-font(18px, 1.3);
  }

  .promo__link {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .promo__down {
    display: none;
  }
}


