.promo {
  display: flex;
  flex-wrap: wrap;
  background-color: #131313;
}

.promo__inst-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
}

.promo__inst-link {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(14px);
  color: #E3B873;
}

.promo__inst-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: -65px;
  height: 2px;
  width: 50px;
  background-color: #E3B873;
}

.promo__wrapper {
  display: flex;
  width: 94%;
  min-height: 707px;
  background-color: #ffffff;
  background-image: url(../assets/images/promo-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__inner-wrapper {
  margin-left: 60px;
  margin-top: 160px;
  width: 530px;
}

.promo__title {
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(40px,1.4);
  color: #ffffff;
  text-transform: uppercase;
}

.promo__down-link {
  width: 247px;
  height: 97px;
  text-align: center;
  background-color: #131313;
}