
.registr__element {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

.registr__input-text {
  display: block;
  padding-bottom: 7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
}

.registr__label-text {
  display: block;
  margin-bottom: 5px;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(15px,1.4);
  opacity: 0.5;
}

.registr__input-submit {
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(15px, 1.7);
  box-shadow: 0 5px 15px rgba(227, 184, 115, .15);
}

.registr__input-checkbox + .registr__label-checkbox {
  display: block;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(16px,1.4);

  &::before {
    content: "";
    position: relative;
    top: 3px;
    left: -10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: $main-color;
  }
}

.registr__input-checkbox:checked + .registr__label-checkbox::before {
  width: 18px;
  height: 18px;
  background-image: url("../assets/images/checked.svg");background-repeat: no-repeat;
  background-position: center center;
}

.registr__field {
  margin: 0 auto;
  width: 80%;
  border: none;

}

.registr__legend {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 290px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(20px);
  color: $text-color;
}