@font-face {
  font-family: "FuturaDemiC";
  font-style: normal;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  font-style: italic;
  src: url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC.ttf") format("truetype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;;
}

.visually-hidden,
  input[type="checkbox"],
  input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
