
.site-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.site-list__item {
  margin-right: 5%;
}

.site-list__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(14px);
  color: #ffffff;

  &--select {
    color: #E3B873;
  }
}

@media (max-width: $tablet-width) {
  .site-list {
    display: none;
  }

  .site-list__item {
    padding: 5px 0;
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .site-list {
    display: none;
  }
}

