.slider-switcher {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}

.slider-switcher__arrow {
  position: relative;
  margin-top: -15px;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-switcher__arrow::after {
  content:"";
  top: 15px;
  left: 0px;
  position: absolute;
  width: 40px;
  height: 1.3px;
  background-color: $text-color;
}

.slider-switcher__arrow--left::before {
  content:"";
  position: absolute;
  left: 0px;
  top: 12px;
  border: solid $text-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.slider-switcher__arrow--right::before {
  content:"";
  position: absolute;
  right: 0;
  top: 12px;
  border: solid $text-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.slider-switcher__form {
  margin: -10px 20px 0;
}

.slider-switcher__label-radio {
  margin: 0 7px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $text-color;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.slider-switcher__input-radio:checked + .slider-switcher__label-radio {
  opacity: 1;
}

@media (max-width: $mobile-width) {
  .slider-switcher {
    display: none;
  }
}
