.team {
  margin-top: -500px;
}

.team .team__title {
  margin-top: 80px;;
  color: $text-color;

  &::before {
    margin-left: 0;
  }

  &::after {
    margin-left: -30px;
  }
}

.team > * > .team__info {
  width: 33%;
  color: $text-color;
}

.team__person-list {
  margin: 0 auto;
  margin-top: 80px;
  width: 75%;
}

.team__person-item {
  position: relative;
}

.team__person-item::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: $main-color;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(227,184,115, 0.5);
  z-index: 2;
}

.team__idea::before {
  background-image: url("../assets/images/team-symbol-1.svg");
}

.team__design::before {
  background-image: url("../assets/images/team-symbol-2.svg");
}

.team__foreman::before {
  background-image: url("../assets/images/team-symbol-3.svg");
}

.team__person-photo {
  position: relative;
}

.team__person-data {
  position: relative;
  margin: 0 auto;
  margin-top: -90px;
  width: 80%;
  background-color: $text-color;
  z-index: 1;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.team .team__person-name {
  margin: 0;
  padding-left: 0;
  text-align: center;
  color: #181818;
}

.team__person-position {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(18px,1.5);
  color: #959595;
}

.team__person-exp {
  margin: 0;
  margin-top: 25px;
  padding: 12px 0;
  text-align: center;
  @include font(13px,1.5);
  color: $text-color;
  text-transform: uppercase;
  background-color: $main-color;
}

.team__results {
  margin: 80px auto 100px;
  text-align: center;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(20px,1.7);
  color: $black-color;
}


.team__result-text {
  margin: 0 auto;

  &:first-child {
    position: relative;
    width: 38%;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 45%;
      display: block;
      width: 55px;
      height: 2px;
      background-color: $main-color;
    }
  }

  &:last-child {
    width: 42%;
  }
}

@media (max-width: $tablet-width) {
  .team {
    margin-top: -270px;
  }

  .team > * > .team__info {
    width: 70%;
    color: $text-color;
  }

  .team__person-list {
    width: 90%;
  }

  .team__person-data {
    margin-top: auto;
  }

  .team__person-item {
    display: flex;
  }

  .team__person-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .team__person-item:last-child {
    margin-bottom: 0;
  }

  .team__result-text {
    &:first-child {
      width: 70%;
    }
    &:last-child{
      width: 70%;
    }
  }
}

@media (max-width: $mobile-width) {
  .team {
    width: $mobile-width;
    margin-top: 0;
    padding-top: 70px;
    background-color: $background-mobile;
  }

  .team .team__title {
    margin: 0;
  }

  .team > * >.team__info {
    width: 100%;
  }

  .team__person-list {
    width: 75%;
  }

  .team__person-item {
    display: block;
  }

  .team__person-item:not(:last-child) {
    margin-bottom: 100px;
  }

  .team__person-item:last-child {
    margin-bottom: 40px;
  }

  .team__person-data {
    margin-top: -90px;
  }

  .team__results {
    display: none;
  }

  .team__person-exp {
    width: 100%;
  }

}