.title__article {
  position: relative;
  @include reset;
  width: 240px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(27px,1.4);
  color: $main-color;
  text-transform: uppercase;
}

.title__article::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -30px;
  bottom: 18px;
  height: 1.5px;
  width: 92px;
  background-color: $main-color;
}


.title__block {
  position: relative;
  text-align: center;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(20px,1.4);
  text-transform: uppercase;
}

.title__symbol {
  display: block;
  margin: 0 auto;
}

.title__block::before,
.title__block::after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 30px;
  height: 1px;
  background: $main-color;
}

.title__block::before {
  margin-left: 25px;
}

.title__block::after {
  margin-left: -50px;
}

.title__equal {
  @include reset;
  padding: 20px 0 0 30px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(18px,1.4);
  color: $black-color;
}

.title__info {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  width: 60%;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(20px,1.4);
  color: $black-color;
}

@media (max-width: 375px) {
  .title__article {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    @include mobile-font(22px, 1.4);

    &::after {
      display: none;
    }
  }

  .title__block {
    @include mobile-font(22px, 1.4);


    &::before {
      margin-left: 40px;
      height: 1.4px;
    }

    &::after {
      margin-left: -70px;
      height: 1.4px;
    }
  }

  .title__equal {
    @include mobile-font(15px);
  }

  .title__info {
    width: 85%;
    color: $text-color;
    @include mobile-font(15px, 1.4);
  }
}