.work {
  margin-top: -480px;
  padding-bottom: 520px;
  background-color: $background;
  background-image: url("../assets/images/work-background.png");
  z-index: -1;
}

.work__wrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 450px;
  max-width: 85%;
}

.work__basis {
  width: 40%;
}

.work_rule {
  font-family: "FuturaDemiC", Arial, sans-serif;
  @include font(15px, 1.4);
  color: $text-color;
  text-transform: uppercase;
}

.work__slide {
  margin-top: 70px;
}

.work__slide-number {
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(18px,1.4);
  color: $text-color;
}

.work__title {
  width: 55%;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(15px,1.5);
  color: $main-color;
  text-transform: uppercase;
}

.work__desc {
  width: 80%;
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(15px,1.7);
  color: $text-color;

  + .work__desc {
    margin-bottom: 100px;
  }
}

.work__element {
  margin-top: 100px;
}

.work__list {
  @include reset;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 15%;
  list-style: none;
}
.work__list-link {
  color: $text-color;
}

.work__list-item {
  padding-bottom: 20px;
  opacity: 30%;

  &--checked {
    opacity: 1;
  }
}

.work__list-number {
  padding-bottom: 3px;
  font-family: "YesevaOne", "Comic Sans", cursive;
  @include font(15px,1.4);
  border-bottom: 1px solid $main-color;
}

.work__list-desc {
  font-family: "FuturaBookC", Arial, sans-serif;
  @include font(15px);
}

.work__pict {
  padding-top: 20px;
}